.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }

  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }

  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }

  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }

  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }

  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}


.flex-column {
  flex-direction: column !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.text-center {
  text-align: center !important;
}

.yify-movie__wrapper {
  max-width: 220px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.yify-movie .yify-movie__img--link {
  overflow: hidden;
}
.yify-movie .yify-movie__img--link:hover .yify-movie__img {
  border-color: #6AC045;
}
.yify-movie .yify-movie__img--link:hover .yify-movie__img img.movie-image {
  opacity: 0.2;
}
@media (max-width: 991.98px) {
  .yify-movie .yify-movie__img--link:hover .yify-movie__img img.movie-image {
    opacity: 1;
  }
}
.yify-movie .yify-movie__img--link:hover .yify-movie__img .yify-movie__meta {
  opacity: 1;
}
.yify-movie .yify-movie__img--link:hover .yify-movie__img .yify-movie__meta .yify-movie__more, .yify-movie .yify-movie__img--link:hover .yify-movie__img .yify-movie__meta .yify-movie__imdb {
  transform: translateY(0px);
}
.yify-movie .yify-movie__img--link .yify-movie__img {
  border: 5px solid #fff;
  border-radius: 4px;
  transition: border 0.15s ease-in-out;
}
.yify-movie .yify-movie__img--link .yify-movie__img img.movie-image {
  transition: opacity 0.15s ease-in-out;
}
.yify-movie .yify-movie__img--link .yify-movie__img img.movie-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 90px;
}
@media (max-width: 991.98px) {
  .yify-movie .yify-movie__img--link .yify-movie__img img.movie-banner {
    width: 80px;
    height: 60px;
  }
}
.yify-movie .yify-movie__img--link .yify-movie__img .yify-movie__meta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: #fff;
  font-size: 25px;
  padding-top: 40px;
  opacity: 0;
  transition: opacity 300ms;
  transition-delay: 100ms;
}
@media (max-width: 991.98px) {
  .yify-movie .yify-movie__img--link .yify-movie__img .yify-movie__meta {
    display: none;
  }
}
.yify-movie .yify-movie__img--link .yify-movie__img .yify-movie__meta .yify-movie__rating {
  margin-bottom: 20px;
}
.yify-movie .yify-movie__img--link .yify-movie__img .yify-movie__meta .yify-movie__rating svg {
  fill: #6AC045;
  margin-bottom: 0.5rem;
}
.yify-movie .yify-movie__img--link .yify-movie__img .yify-movie__meta .yify-movie__genre {
  row-gap: 0.25rem;
}
.yify-movie .yify-movie__img--link .yify-movie__img .yify-movie__meta .yify-movie__more, .yify-movie .yify-movie__img--link .yify-movie__img .yify-movie__meta .yify-movie__imdb {
  color: #fff;
  font-family: "Arimo", Arial, Helvetica, sans-serif;
  border-radius: 3px;
  font-weight: 700;
  font-size: 1rem;
  display: block;
  width: 130px;
  padding: 9px 0;
  transform: translateY(35px);
  transition: background-color 0.25s ease, transform 300ms ease;
}
.yify-movie .yify-movie__img--link .yify-movie__img .yify-movie__meta .yify-movie__more {
  background-color: #6AC045;
  margin-top: 40px;
}
.yify-movie .yify-movie__img--link .yify-movie__img .yify-movie__meta .yify-movie__more:hover {
  background-color: #5da93c;
}
.yify-movie .yify-movie__img--link .yify-movie__img .yify-movie__meta .yify-movie__imdb {
  background-color: #cf9e2f;
  margin-top: 50%;
}
.yify-movie .yify-movie__img--link .yify-movie__img .yify-movie__meta .yify-movie__imdb:hover {
  background-color: #c29020;
}
.yify-movie .yify-movie__details {
  padding-right: 1rem;
}
.yify-movie .yify-movie__details .yify-movie__title {
  margin-top: 0.5rem;
}
.yify-movie .yify-movie__details .yify-movie__title a {
  font-size: 15.2px;
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .yify-movie .yify-movie__details .yify-movie__title a {
    font-size: 13.6px;
  }
}
.yify-movie .yify-movie__details .yify-movie__title a span.movie-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.yify-movie .yify-movie__details .yify-movie__title a span.blue {
  color: #ACD7DE;
  font-size: 75%;
  padding-right: 0.25rem;
}
.yify-movie .yify-movie__details .yify-movie__year {
  font-size: 13.6px;
  color: #919191;
}
.yify-movie .yify-movie__progress {
  width: 100%;
  margin-top: 0.5rem;
}
@media (max-width: 991.98px) {
  .yify-movie .yify-movie__progress {
    flex-direction: column;
    align-items: flex-start !important;
  }
}
.yify-movie .yify-movie__progress .yify-movie__progressbar {
  flex-basis: 55%;
  height: 15px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .yify-movie .yify-movie__progress .yify-movie__progressbar {
    flex-basis: auto;
  }
}
.yify-movie .yify-movie__progress .yify-movie__quality {
  flex-basis: 45%;
  font-size: 13.6px;
  color: #919191;
  padding-left: 0.5rem;
  display: inline-block;
}
@media (max-width: 991.98px) {
  .yify-movie .yify-movie__progress .yify-movie__quality {
    padding-left: 0px;
    flex-basis: auto;
  }
}

.yify-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1d1d1d;
  border-bottom: 1px solid #2f2f2f;
  padding: 10.5px 0;
  height: 60px;
  color: #919191;
  z-index: 20;
}
@media (max-width: 767.98px) {
  .yify-header {
    padding: 5.5px 0;
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .yify-header .container {
    max-width: 100%;
  }
}
.yify-header__mobile {
  display: none;
}
.yify-header__mobile li.yify-header__mobile--item {
  margin-left: 12px;
}
.yify-header__mobile a.yify-header__mobile--link {
  color: #e3e3e3;
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .yify-header__mobile a.yify-header__mobile--link {
    font-size: 22px;
    line-height: 22px;
  }
}
.yify-header__mobile a.yify-header__mobile--link.link-colored {
  color: #6AC045;
  line-height: 24px;
}
.yify-header__mobile a.yify-header__mobile--link svg {
  fill: #e3e3e3;
}
@media (max-width: 767.98px) {
  .yify-header__mobile a.yify-header__mobile--link svg {
    height: 22px;
    width: 22px;
  }
}
@media (max-width: 991.98px) {
  .yify-header__mobile {
    display: inline-block;
  }
}
.yify-header__title {
  font-size: 19.2px;
  margin-left: 1.5rem;
}
@media (max-width: 1399.98px) {
  .yify-header__title {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .yify-header__logo--img {
    height: 28px;
  }
}
.yify-header__right a.link-default.link-colored {
  color: #6AC045;
}
.yify-header__desktop--form {
  margin-right: 10px;
}
@media (max-width: 991.98px) {
  .yify-header__desktop--form {
    display: none;
  }
}
.yify-header__desktop--form .form-input__group .submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 9px;
}
.yify-header__desktop--form .form-input__group .submit-btn svg {
  fill: #919191;
}
.yify-header__desktop--form .form-input__group .form-input {
  background-color: #1d1d1d;
  font-size: 13.6px;
  font-weight: 700;
  border: 2px solid #333;
  border-radius: 20px;
  width: 250px;
  padding: 7.5px 30px;
  color: #919191;
  font-family: "Arimo", Arial, Helvetica, sans-serif;
}
.yify-header__desktop--form .form-input__group .form-input::placeholder {
  color: #919191;
}
@media (max-width: 991.98px) {
  .yify-header .yify-main__nav {
    display: none !important;
  }
}
.yify-header .yify-main__nav .yify-main__menu .yify-main__item {
  margin-right: 20px;
}
.yify-header .yify-account__separator {
  padding: 0 0.25rem;
}

.yify-mobile__search {
  overflow: hidden;
  background-color: #171717;
  color: #999;
  max-height: 0px;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
.yify-mobile__search .yify-mobile__inner {
  padding: 15px 0;
  border: 1px solid #2f2f2f;
}
.yify-mobile__search.open {
  max-height: 303px;
}
@media (max-width: 767.98px) {
  .yify-mobile__search .container {
    max-width: 100%;
  }
}

.yify-mobile__selects .yify-mobile__select:not(:first-child) {
  margin-top: 10px;
}

.yify-mobile__select label {
  margin-bottom: 10px;
  font-weight: 700;
  color: #5a5a5a;
  font-size: 14.4px;
  cursor: text;
}
.yify-mobile__select select {
  width: 130px;
  padding-left: 10px;
  font-size: 14.4px;
  font-weight: 400;
  color: #a2a2a2;
  height: 40px;
  border-radius: 3px;
  background: url("../images/select-arrows.svg") no-repeat 115px 12px #282828;
  -webkit-appearance: none;
}

.yify-mobile__inputgroup {
  margin-bottom: 16px;
  border-radius: 4px;
}
.yify-mobile__inputgroup.focused {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(255, 255, 255, 0.6);
}
.yify-mobile__inputgroup > * {
  font-size: 14px;
  padding: 6.6px 12px;
  border-radius: 4px;
}
.yify-mobile__inputgroup input {
  flex: 90%;
  color: #919191;
  background-color: #333;
  border: 2px solid #333;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: box-shadow 0.2s;
}
.yify-mobile__inputgroup input::placeholder {
  color: #919191;
}
.yify-mobile__inputgroup button {
  flex: auto;
  background-color: #6AC045;
  color: #fff;
  border: 1px solid #3e8f3e;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.08);
  height: 34px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline-offset: -3px;
  outline: 1px solid transparent;
  transition: background-color 0.3s ease-in-out;
}
.yify-mobile__inputgroup button:hover, .yify-mobile__inputgroup button:active, .yify-mobile__inputgroup button:focus {
  background-color: #419641;
}
.yify-mobile__inputgroup button:active, .yify-mobile__inputgroup button:focus {
  border: 1px solid #fff;
  outline: 1px solid #000;
}

.yify-section {
  padding-top: 40px;
  padding-bottom: 30px;
}
@media (max-width: 767.98px) {
  .yify-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.yify-hero a.blue-link {
  color: #428bca;
  transition: color 0.25s;
}
.yify-hero a.blue-link:hover {
  color: #2a6496;
}
.yify-hero__bg, .yify-hero__overlay {
  position: absolute;
  top: 0;
  height: 580px;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(29, 29, 29, 0.65) 0, #1d1d1d 100%);
}
.yify-hero__bg {
  z-index: -2;
  background: url("../images/yify-hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.yify-hero__overlay {
  z-index: -1;
}
@media (max-width: 991.98px) {
  .yify-hero__content {
    display: none;
  }
}
.yify-hero__content .container {
  max-width: 1170px;
}
.yify-hero__content .container h1 {
  margin-bottom: 15px;
}
.yify-hero__content .container .yify-hero__textlink {
  width: 650px;
  color: #ccc;
  font-size: 15.2px;
  line-height: 21px;
  margin: 0 auto 30px auto;
}
.yify-hero__content .container .yify-hero__textlink a {
  font-size: 15.2px !important;
}
@media (min-width: 1400px) {
  .yify-hero__popular .container {
    max-width: 1170px;
  }
}
.yify-hero__popular--top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 18.4px;
}
@media (max-width: 767.98px) {
  .yify-hero__popular--top {
    justify-content: flex-start !important;
  }
}
@media (max-width: 575.98px) {
  .yify-hero__popular--top {
    font-size: 15.2px;
  }
}
.yify-hero__popular--top a {
  font-size: 18.4px;
}
@media (max-width: 575.98px) {
  .yify-hero__popular--top a {
    font-size: 15.2px;
  }
}
.yify-hero__popular--top > * {
  gap: 10px;
}
.yify-hero__popular--top .yify-hero__popular--title svg {
  fill: #6AC045;
}
.yify-hero__popular--top .yify-hero__popular--links {
  position: absolute;
  top: 0;
  right: 0;
}
.yify-hero__popular--top .yify-hero__popular--links .yify-rss {
  width: 20px;
  height: 20px;
}
@media (max-width: 767.98px) {
  .yify-hero__popular--movies {
    row-gap: 1rem;
  }
}
.yify-hero__vpn {
  margin-top: 15px;
}
.yify-hero__vpn .d-block-mb {
  display: none;
}
@media (max-width: 991.98px) {
  .yify-hero__vpn .d-block-mb {
    display: inline-block;
  }
}
@media (max-width: 991.98px) {
  .yify-hero__vpn .d-none-mb {
    display: none;
  }
}
@media (min-width: 1400px) {
  .yify-hero__vpn .container {
    max-width: 1170px;
  }
}
@media (max-width: 767.98px) {
  .yify-hero__vpn .container {
    max-width: 100%;
  }
}
.yify-hero__vpn .container .vpn-innerwrapper {
  border: 5px solid #75c74e;
  padding: 0 35px 5px 35px;
  background-color: #000;
}
@media (max-width: 575.98px) {
  .yify-hero__vpn .container .vpn-innerwrapper {
    padding: 0 25px 5px 25px;
  }
}
.yify-hero__vpn .container .vpn-innerwrapper .vpn-warning {
  width: 80%;
  margin: 5px auto;
  padding: 5px 0;
  border-bottom: 1px solid grey;
  font-size: 40px;
}
@media (max-width: 991.98px) {
  .yify-hero__vpn .container .vpn-innerwrapper .vpn-warning {
    font-size: 30px;
  }
}
.yify-hero__vpn .container .vpn-innerwrapper .vpn-text__location {
  color: #ABCC06;
  font-weight: 700;
}
.yify-hero__vpn .container .vpn-innerwrapper .vpn-text__quote {
  font-weight: 700;
  color: #4c96d0;
  font-size: 120%;
}
.yify-hero__vpn .container .vpn-innerwrapper .vpn-link__wrapper {
  margin-bottom: 10px;
}
.yify-hero__vpn .container .vpn-innerwrapper .vpn-link__wrapper .vpn-link {
  background-color: #75c74e;
  width: 250px;
  margin: 5px auto 0 auto;
  border-radius: 5px;
  color: #fff;
}
@media (max-width: 991.98px) {
  .yify-hero__vpn .container .vpn-innerwrapper .vpn-link__wrapper .vpn-link {
    width: 150px;
  }
}
.yify-hero__vpn .container .vpn-innerwrapper .vpn-link__wrapper .vpn-link__text {
  margin-bottom: 0;
}
.yify-hero__vpn .container .vpn-innerwrapper .vpn-link__wrapper .vpn-link__text span {
  text-shadow: 2px 2px #4b9924;
  font-weight: 700;
  margin-left: 1.5rem;
  line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 991.98px) {
  .yify-hero__vpn .container .vpn-innerwrapper .vpn-link__wrapper .vpn-link__text span {
    margin-left: 0.5rem;
  }
}
@media (max-width: 575.98px) {
  .yify-hero__vpn .container .vpn-innerwrapper .vpn-link__wrapper .vpn-link__text span {
    line-height: 35px;
  }
}
.yify-hero__vpn .container .vpn-innerwrapper p {
  margin-bottom: 10px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15.2px;
}

@media (min-width: 1400px) {
  .yify-latest .container {
    max-width: 1170px;
  }
}
.yify-latest__movies {
  row-gap: 15px;
}

@media (min-width: 1400px) {
  .yify-upcoming .container {
    max-width: 1170px;
  }
}
.yify-upcoming__movies {
  row-gap: 15px;
}

.yify-footer {
  padding: 16px 1rem;
  border-top: 1px solid #2f2f2f;
}
.yify-footer ul {
  flex-wrap: wrap;
  row-gap: 0.5rem;
  margin-top: 16px;
}
.yify-footer ul li.yify-footer__item:not(:last-child) {
  margin-right: 8px;
}
.yify-footer__bottom {
  margin-top: 16px;
  line-height: 1.5;
}
.yify-footer__bottom p, .yify-footer__bottom a {
  font-size: 12.8px;
}

.yify-mobilebottom {
  display: none;
}
@media (max-width: 991.98px) {
  .yify-mobilebottom {
    display: block;
  }
}
.yify-mobilebottom a {
  font-size: 15px;
  color: #e3e3e3;
  font-weight: normal;
  row-gap: 0.5rem;
}
.yify-mobilebottom svg {
  fill: #e3e3e3;
}
.yify-mobilebottom .innerwrapper{
  border-top: 1px solid #2f2f2f;
}
@media (min-width: 1400px) {
  .yify-mobilebottom .container {
    max-width: 1170px;
  }
}
.yify-mobilebottom__links {
  padding: 1rem 0;
  row-gap: 1.5rem;
}

*:not(progress) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arimo", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #1d1d1d;
  letter-spacing: -0.03em;
}

button {
  background-color: transparent;
  cursor: pointer;
}

svg, span {
  pointer-events: none;
}

div.main-content {
  margin-top: 59px;
}
@media (max-width: 767.98px) {
  div.main-content {
    margin-top: 39px;
  }
}

a {
  font-size: 13.6px;
  font-weight: 700;
  transition: color 0.4s ease-in-out;
}
a.link-white {
  color: #fff;
}
a.link-white:hover {
  color: #919191;
}
a.link-default {
  color: #919191;
}
a.link-default:hover {
  color: #fff;
}

.hero-title {
  font-size: 44px;
  font-weight: 700;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.red-text {
  background: #AD0000;
  color: #fff;
}

.darkred-text {
  background: #731407;
  color: white;
}

.yify-dark {
  background-color: #171717;
}

.section-heading {
  margin-bottom: 25px;
}

.yify-section__left h3 {
  font-size: 18.4px;
}
@media (max-width: 575.98px) {
  .yify-section__left h3 {
    font-size: 15.2px;
  }
}

/*# sourceMappingURL=style.css.map */
